@use "../../styles/variables.scss" as v;

.Card {
  background-color: v.$bgCard;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 300px;
  height: 450px;
  text-align: center;
  box-sizing: v.$shadowCard;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &:hover {
    border: 1px solid v.$primaryColor;
    scale: 1.1;
    box-shadow: v.$shadowCard;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
  }
}

.CardElement {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  h2 {
    font-size: 1.1rem;
    color: v.$primaryColor;
  }

  p {
    color: v.$zinc200;
    font-size: 0.9rem;
    line-height: 1.2em;
    display: -webkit-box; /* Para navegadores WebKit (Chrome, Safari) */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Número de linhas a mostrar */
    line-clamp: 2;
    overflow: hidden;
    /* Você também pode precisar de: max-height ou height */
    max-height: 3.6em; /* Exemplo: 3 linhas * 1.2em de line-height */

  }
}

