@use "../../styles/variables.scss" as v;

.HeroWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.HeroSwiper, .HeroSlide {
  width: 100%;
  height: 100%;
}

.SlideBackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: v.$padding-default;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // Gradiente escuro para legibilidade, aplicado sobre a imagem
  background: linear-gradient(
    to right,
    rgba(20, 20, 20, 0.9) 10%, 
    rgba(20, 20, 20, 0.2) 60%,
    rgba(20, 20, 20, 0) 100%
  );
}

.HeroContent {
  position: relative; 
  z-index: 10; // Fica sobre a imagem e o overlay
  max-width: 650px;
  color: v.$white;
  
  h1 {
    font-size: 4rem;
    margin: 10px 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .tagline {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.2);
    display: block; 
    margin-bottom: 5px;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

.buttonPrimary {
  background-color: v.$primaryColor;
  color: v.$white;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 152, 0, 0.1);
  }
}

// Estilização da paginação do Swiper (os pontinhos)
:global(.swiper-pagination-bullet) {
  background: v.$white !important;
  opacity: 0.5 !important;
}

:global(.swiper-pagination-bullet-active) {
  background: v.$white !important;
  opacity: 1 !important;
}