$bg: #121212;
$white: #fff;
$primaryColor: #ff9800;
$bgHeader: #1f1f1f;
$bgCard: #1e1e1e;
$shadowCard: 0 0 10px rgba(0, 0, 0, 0.3);
$zinc400: #9f9fa9;
$shadowlg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$zinc200: oklch(92% 0.004 286.32);


$background-dark: #141414;
$background-dark: #141414;
$padding-default: 60px;