@use "../../styles/variables.scss" as v;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  

  
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
}

.HeaderContainer {
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderScrolled {
 background-color: v.$background-dark; 
}

.HeaderLeft {
  display: flex;
  align-items: center;
}

.logo {
  a {
    font-size: 1.8rem;
  font-weight: 700;
  color: v.$primaryColor; // Cor do logo
  margin-right: 30px;
  cursor: pointer;
  }
}

.menu {
  display: flex;
  gap: 20px;

  a {
    color: v.$white;
    font-size: 0.9rem;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.HeaderRight {
  display: flex;
  align-items: center;
  gap: 20px;
  color: v.$white;
}

.Search, .Notification, .Avatar {
  cursor: pointer;
}