@use '../../styles/variables.scss' as v;

.Footer {
  background-color: v.$bgHeader;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer {
  max-width: 64rem;
  width: 100%;
  padding: 0.5rem 2rem;

  p {
    text-align: center;
    font-size: 0.7rem;
    color: v.$zinc400;
  }
}